.container{
    min-height: calc(100vh - 100px);
    justify-items: center;
    align-self: center;
    align-content: center;
    margin: 20px;
}

.titulo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.component_acesso{
    justify-self: center;
    width: 100%;
    max-width: 400px;
}

.component_infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.component_infos p{
    font-size: 18px;
}

.component_acesso input{
    padding: 15px;
    width: 100%;
    background-color: rgb(221, 217, 217);
    border: 1px solid #2F9D53;
    border-radius: 13px;
}

.component_links{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-right: 30px;
}

.component_links a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}


.separator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.acessar{
    display: block;
    margin: auto;
    padding: 10px 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #2F9D53;
    border-radius: 13px;
    font-weight: bold;
    border: 0px;
    cursor: pointer;
    text-decoration: none;
}

.linkAcessar{
    text-decoration: none;;
}

.tipos_acessos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tipos_acessos button{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
    padding: 10px;
    width: 100%;
    
}

.logos{
    font-size: 30px;
    
}