.component_header{
    display: block;
    height: 80px;
    background-color: #2F9D53;
    padding: 10px;
    text-align: center;
    border-radius: 0 0 20px 20px;
    color: white;
    align-content: center;
    font-size: 14px;
}