.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 95%;
    max-width: 600px;
    margin: 0 auto 20px;
    padding: 10px 10px;
    border-radius: 20px;
    gap: 30px;
    align-items: center;
}

.container_main h1{
    font-size: 17px;
}

.container_main p{
    font-size: 14px;
    margin-top: 10px;
}

.icone{
    margin-left: 5px;
}
