.container{
    background-color: #2F9D53;
}

.container_topo{
    background-color: #2F9D53;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.container_topo h1{
    padding: 10px 0;
}

.container_topo p{
    padding-bottom: 10px;
}

.container_main{
    background-color: #D9D9D9;
    border-radius: 20px 20px 0 0;
}

.mensagem_aviso{
    text-align: center;
    font-size: 20px;
    padding: 20px 0;
}

.categoria{
    background-color: white;
    margin: 0 auto 20px;
    border-radius: 20px;
    width: 90%;
    height: 140px;
    max-width: 400px; /* limite para não ficar gigante no desktop */
    padding: 30px;
}

.categoria input{
    border: 0px;
    width: 350px;
    font-size: 13px;

}

.categoria h2{
    font-size: 20px;
}

.categoria_opcoes{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.categoria_opcoes select{
    border: 0px;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 25px; 
    height: 25px;
    background-color: #5e5f5f;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 0;
    background-image: url("../../../public/ocorrencias/sinal-de-seta-para-baixo-para-navegar.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}   

.categoria_opcoes option{
    background-color: white;
}

/*-------------------------------
DESCRIÇÃO: */

.descricao{
    background-color: white;
    margin: 0 auto 20px;
    border-radius: 20px;
    width: 90%;
    height: 140px;
    max-width: 400px; /* limite para não ficar gigante no desktop */
    padding: 30px;
}

/*-------------------------------
IMAGEM: */

.imagem{
    background-color: white;
    margin: 0 auto 20px;
    border-radius: 20px;
    width: 90%;
    height: 140px;
    max-width: 400px; /* limite para não ficar gigante no desktop */
    padding: 30px;
}

/*-------------------------------
GRAU INTENSIDADE: */

.grau_intensidade{
    background-color: white;
    margin: 0 auto 20px;
    border-radius: 20px;
    width: 90%;
    height: 140px;
    max-width: 400px; /* limite para não ficar gigante no desktop */
    padding: 30px;
}

/*-------------------------------
ENDEREÇO: */

.endereco{
    background-color: white;
    margin: 0 auto 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px; /* limite para não ficar gigante no desktop */
    padding: 30px;
}

.endereco label{
    display: flex;
    justify-content: space-between;
    width: auto;
    font-size: 11px;
}

.endereco input{
    width: 140px;
}

/*-------------------------------
ENVIAR: */

.enviar{
    display: flex;
    background-color: #2F9D53;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto 80px;
    border: 0px;
}