.container{
    display: flex;
    width: 90%;
    height: 100px;
    border: 0px;
    max-width: 800px;
    border-radius: 10px;
    align-items: center;
    gap: 20px;
    margin: 0 auto 20px;
    padding: 10px 10px;
    text-align: start;
    cursor: pointer;
}

.infos h2{
    font-size: 17px;
    margin-bottom: 5px;
}

.p1{
    font-size: 15px;
    margin-bottom: 5px;
}

.p2{
    font-size: 12;
}