.container{

}

.mensagemInicial{
    display: flex;
    background-color: #2F9D5382;
    width: 220px;
    justify-items: center;
    justify-content: center;
    margin: 35px auto 0px;

    align-items: center;
    padding: 5px;
    border-radius: 100px;
    gap: 13px;
}

.mensagemInicial p{
    font-size: 15px;
    font-weight: bold;
}

.iconeFacilidade{
    width: 45px;
    height: 45px;
}

.containerImagemMelhoreSuaCidade{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.imagemMelhoreSuaCidade{
  width: 100%;
  height: auto;
  max-width: 500px; /* limite para não ficar gigante no desktop */
  margin: 30px 0;
}

.containerMensagemFinal{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.msg h2{
    font-size: 35px;
}

.msg p{
    font-size: 27px;
}

.containerMensagemFinal button{
    background-color: #2F9D53;
    color: white;
    border: 0px;
    width: fit-content;
    text-align: center;
    margin: 20px auto;
    padding: 20px 40px;
    border-radius: 100px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 60px;
}

