.container{
    background-color: rgb(221, 217, 217);
    border-collapse: separate;
     border-radius: 20px;
}

.container td{
}

.status_aberto{
  color: red;
  font-weight: bold;
}

.status_fechado{
  color: green;
  font-weight: bold;
}