.container{
    background-color: #2F9D53;
}

.container_topo{
    background-color: #2F9D53;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.container_topo h1{
    padding: 10px 0;
}

.container_topo p{
    padding-bottom: 10px;
    font-size: 20px;
}

.container_main{
    background-color: #D9D9D9;
    border-radius: 20px 20px 0 0;
    padding: 30px 0 60px 0;
}

.mensagem_notificacao{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.sem_notificacao{
    margin: 0 auto;
    width: fit-content;
}

.sem_notificacao h2{
    color: #2F9D53;
    text-align: center;
    font-size: 30px;
}

.sem_notificacao p{
    color: #2F9D53;
    text-align: center;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.imagem_sem_notificacao{
    display: flex;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
