.nav{
    background-color: #2F9D53;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: var(--footer-h);
    max-width: 100%;
    align-content: center;
    will-change: transform;
    contain: paint;
}

.nav nav{
    display: flex;
    padding: 10px 0;
    justify-self: center;
    align-items: center;
    gap: 35px;
}

.icone{
    width: 35px;
    height: 35px;
}