.container{
    background-color: #2F9D53;
}

.container_topo{
    background-color: #2F9D53;
    text-align: center;
}

.mensagem_inicio{
    padding: 20px 0;
    margin: 0 auto;
    color: white;
}

.mensagem_inicio p{
    font-size: 20px;
 
}

.container_topo button{
    display: flex;
    gap: 25px;
    margin: 10px auto 30px;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 305px;
    height: 65px;
    border: 0px;
    color: #2F9D53;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.container_main{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 0 0;
    padding: 30px 0 60px 0;

}

.mensagem_aviso{
    font-weight: bold;
    margin: 0 auto 20px;
}

.container_main button p{
    margin: 0 auto;
}

.container_main button{
    display: flex;
    width: 90%;
    height: 140px;
    max-width: 600px; /* limite para não ficar gigante no desktop */
    margin: 0 auto 20px;
    align-items: center;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
}

.conteudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    color: black;
}

.conteudo h2{
    margin-bottom: 10px;
    margin-right: 20px;
    color: black;
}

.conteudo p{
    margin-bottom: 20px;
    margin-right: 20px;
    color: black;
}

.icones{
    width: 50px;
    height: 50px;
    margin: 20px 20px 20px 20px;
}

